body {
    background-color: #abd3f6;
    margin: 0 20px;
}

.header {
    background-color: #79baf3;
    font-family: cursive;
    text-align: center;
    font-size: 30px;
    border-radius: 10px;
}
.header, h1 {
    margin-top: 0;
    margin-bottom: 5px;
    padding-top: 5px;
}

.item {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid red;
    word-wrap: break-word;
    border-radius: 10px;

}

#input-text{
    display: flex;
    flex-direction: column;
    width: 700px;
}



#titleInput{
    padding-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
}

#descriptionInput{
    height: 200px;
}


/*************************** buttons - create ***************************/
.buttons_div {
    border-top: 1px solid gray;
    justify-content: center;
    display: flex;
    flex-direction: row;

}
.btn-all {
    margin: 5px;
    padding: 10px 30px;
}

#btn-create {
    font-family: Roboto, sans-serif;
    font-weight: 0;
    font-size: 14px;
    padding: 10px 30px;
    border-radius: 50px;
    transition : 1000ms;
    transform: translateY(0);
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    margin: 5px;

    color: #fff;
    background-color: #2b9125;
    border: 2px solid #2b9125;
    box-shadow: rgb(0, 0, 0) 0 0 0 0;
}

#btn-create:hover{
    transition : 1000ms;
    transform : translateY(-0px);
    background-color: #fff;
    color: #2b9125;
    border: solid 2px #2b9125;
}

.btn-edit{
    font-family: Roboto, sans-serif;
    font-weight: 0;
    font-size: 14px;
    padding: 10px 30px;
    border-radius: 50px;
    transition : 1000ms;
    transform: translateY(0);
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    margin: 5px;

    color: #fff;
    background-color: #0066cc;
    border: 2px solid #0066cc;
    box-shadow: rgb(0, 0, 0) 0 0 0 0;
}

.btn-edit:hover{
    transition : 1000ms;
    transform : translateY(-0px);
    background-color: #fff;
    color: #0066cc;
    border: solid 2px #0066cc;
}

/*************************** buttons - delete ***************************/
.btn-delete{
    font-family: Roboto, sans-serif;
    font-weight: 0;
    font-size: 14px;
    padding: 10px 30px;
    border-radius: 50px;
    transition : 1000ms;
    transform: translateY(0);
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    margin: 5px;

    color: #fff;
    background-color: #ff0707;
    border: 2px solid #ff0707;
    box-shadow: rgb(0, 0, 0) 0 0 0 0;
}

.btn-delete:hover{
    transition : 1000ms;
    transform : translateY(-0px);
    background-color: #fff;
    color: #ff0707;
    border: solid 2px #ff0707;
}